<div class="capco-card m-5 mt-0">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Dashboard</th>
        <th scope="col">Download Report</th>
        <th scope="col">Reprocess</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <th scope="col">Date</th>
        <th scope="col">Dashboard</th>
        <th scope="col">Download Report</th>
        <th scope="col">Reprocess</th>
      </tr>
      <tr>
        <th scope="row">1</th>
        <th scope="col">Date</th>
        <th scope="col">Dashboard</th>
        <th scope="col">Download Report</th>
        <th scope="col">Reprocess</th>
      </tr>
      <tr>
        <th scope="row">1</th>
        <th scope="col">Date</th>
        <th scope="col">Dashboard</th>
        <th scope="col">Download Report</th>
        <th scope="col">Reprocess</th>
      </tr>
      <tr>
        <th scope="row">1</th>
        <th scope="col">Date</th>
        <th scope="col">Dashboard</th>
        <th scope="col">Download Report</th>
        <th scope="col">Reprocess</th>
      </tr>
      <tr>
        <th scope="row">1</th>
        <th scope="col">Date</th>
        <th scope="col">Dashboard</th>
        <th scope="col">Download Report</th>
        <th scope="col">Reprocess</th>
      </tr>
    </tbody>
  </table>
</div>
