.files-title {
  font-size: 20px;
  font-weight: bold;
}

.file-data {
  display: flex;
  position: relative;
  cursor: default;
  padding: 3px;
  &:hover {
    background-color: rgba(0, 21, 0, 0.1);
    .delete-button {
      display: block;
    }
  }
  .delete-button {
    position: absolute;
    right: 0;
    bottom: -5px;
    color:rgb(255, 0, 68);
    cursor: pointer;
    font-size: 30px;
    display: none;
  }
}

.button-or {
  font-weight: bold;
  margin: 0;
  margin-left: 80px;
}






