.button-document {
  background-color: rgba(210, 238, 130, 0.1);
  border: 1px solid lime;
  color: green;
  height: 120px;
  width: 80%;
  border-radius: 20px;
  margin: 40px;
  cursor: pointer;
}

.overall-container {
  margin: 20px
}

.files-title {
  font-size: 20px;
  font-weight: bold;
}