
<div class="row">
  <div class="col m-4">
    <button type="button" class="btn text-uppercase btn-lg btn-primary mb-3" (click)="filePickerFolder.click()">Adicionar diretório</button>
    <input class="d-none" webkitdirectory mozdirectory multiple #filePickerFolder type="file" (change)="onDocumentSelected($event)">
    <p class="button-or">OU</p>
    <button type="button" class="btn text-uppercase btn-lg btn-primary mt-3" (click)="filePickerFile.click()">Adicionar arquivos</button>
    <input class="d-none" multiple #filePickerFile type="file" (change)="onDocumentSelected($event)">
    <p *ngIf="files && files.length" class="mt-2 text-capitalize">Utilize os botões acima para adicionar mais arquivos <br>ou clique em "Apagar" recomeçar</p>
  </div>
  <div class="col m-4">
    <div *ngIf="files && files.length">
        <p class="files-title"><span>{{files?.length || 0}}</span> arquivo<span *ngIf="files?.length > 1">s</span> para processar:</p>
        <div *ngFor="let file of files" class="file-data mb-2 text-capitalize">
          <p class="m-0 me-2">{{file.name}}</p>
          <p class="m-0">({{file.size / 100}}K)</p>
          <p class="delete-button m-0" (click)="onRemoveFile(file)">&times;</p>
        </div>
        <div class="buttons mt-3">
          <button type="button" class="btn text-uppercase btn-lg btn-danger me-3" [disabled]="!files?.length" (click)="clearFileList()">Apagar</button>
          <button type="button" class="btn text-uppercase btn-lg btn-success" [disabled]="!files?.length" (click)="uploadFiles()">Prosseguir</button>
        </div>
    </div>
  </div>
</div>


