.overall-container {
  height: 100px;
  width: 200px;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  font-size: 19px;
  margin: 20px;
}

.badge-number {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 0px 1px #000;
  &.text {
      font-size: 22px;
    
  }
}

.badge-title {
  color: #EEE;
  text-shadow: 0px 0px 1px #000
}

.badge-file-name {
  position: absolute;
  right: 0;
  top: -15px;
  color: rgb(189, 189, 189);
  text-shadow: 0 0 1px #000;
  font-size: 15px;
}

.background-orange{ 
  background-image: linear-gradient(to right top, #da5500, #e56d00, #ef8400, #f89a00, #ffb100);
  color: orangered;
}

.background-green{ 
  background-image: linear-gradient(to right top, #00b958, #3fca6b, #5fdc7f, #7ced93, #96ffa8);
  color: lime;
}

.background-blue{ 
  background-image: linear-gradient(to right top, #0017ff, #0070ff, #009aff, #00bbee, #6fd4d8);
  color: cyan;
}

.background-red{ 
  background-image: linear-gradient(to right top, #b90000, #cc1f1e, #de3337, #ef464f, #ff5967);
  color: #950000;
}